* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-rows: 60px auto auto auto auto auto;
    font-family: 'Signika', sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.75);
    line-height: 1.5;
    
}
.title {
    display: block;
    padding: 1.1rem 1.1rem 0 1.1rem;;
    margin: 1rem 1rem 2rem;    
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -0.05em;   
}
 
/* .title::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 160px;
    background: #55C0EC; 
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}  */


p {
    margin: 0 0 1rem;
    font-size: 1.3rem;
}

/* NavBar Section */

nav ul {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto 1fr ;
    grid-template-areas: ".  home about features add .";
    margin: 0 auto;   
    height: 60px;
    list-style: none;
    align-items: center;
    justify-content: center;
    background: 	#40596b;

}
nav ul a {
    text-decoration: none;
    color: #FFD05A;
    text-align: center;
    padding: 0.65rem;
    font-size: 1.2rem;
}
.home {
    grid-area: home;
}
.about {
    grid-area: about;
}
.features {
    grid-area: features;
}
.add{
    grid-area: add;
}

/* Header Section */

header {
    background: #55C0EC;
    display: grid;
    grid-template-areas: "left right";
    column-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    min-height: 80vh;
    
}
.container {
    margin: 1rem;
    min-width: 300px;
    padding: 1.2rem;
    align-content: center;
    align-items: center;
}

h1 {
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.6); 
    margin: 0 0 1.2rem;
    font-weight: 300;
    letter-spacing: -0.05em;
    
}
h1 .ticky-bold {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
    
}

.left {
    grid-area: left;
    text-align: center;
    justify-content: center;  
    margin: auto 1rem;;
    align-content: center;
    padding: 1.5rem;
    
}
.right {
    grid-area: right;
    margin: auto;
}

header .left p {
    color: #FFFFFF;
    font-size: 1.65rem;
    line-height: 1.5;
    margin: 0 0 2rem;
}
.bot {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
}
/* About Section */

.about-card {
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
   
}

.box {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr); 
}
.half-left, .half-right {
    text-align: left;
    margin: 0 0 1rem;
    padding: 0 1.2rem;
}
.full {
    text-align: left;
    padding: 0 1rem;
}
.full p {
    margin: 0;
}

/* Features Section */ 

.feature-cards {
    background: #90DDAA;
    padding: 1rem;
}
.cards {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.one, .two, .three {   
    display: grid;
    padding: 1.2rem 0 0 0;
    margin: 1rem 1rem 3rem ;
    background: #40596b;
    justify-items: center;
}
img.fig-img {
    display: grid;
    max-width: 220px;
    margin: 4rem 0;   
}
figcaption {
    display: block;
    background: #FFFFFF;
    font-size: 1.2rem;
    padding: 1rem;
    grid-row: 2 / 3;   
}
.red {
    color: #DC143C;
}

/* Add Slack Section */
.addSlack {
    padding: 1rem;
    text-align: center;
    margin: 0 10rem;
    
}
/* Footer */

footer {
    margin-top: 2rem;
    background: #40596b;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
       
}
footer p {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
}
footer a {
    
    color: #FFFFFF;
}


/* Buttons */

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5.625rem auto;    
    padding: 1rem;
    font-size: 1.75rem;   
    outline-style: none;
    width: 300px;
    height: 70px;
    justify-content: center;
    font-family: 'Signika', sans-serif;
    font-weight: 300;
    border-radius: 5px;
    text-align: center; 
    line-height: 0.5;
    transition: transform 1s;
    
    
}
.btn-dark {
    background: #40596b;  
}
.btn-light {
    background: #FFFFFF;
    margin: 0 50px;    
    
}
.btn-dark a  {   
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);      
}

.btn img {
    width: 40px;
    height: 40px;
    margin: 0 1rem 0 0;
    transition: transform 1s;
}
.btn-dark:hover {
    background: rgba(0, 0, 0, 0.7);
    
    transform: scale(0.95);
}
.btn-light:hover {
    transform: scale(0.95);
}
.btn-light a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75); 
}
.btn-light a strong {
    color: rgba(0, 0, 0, 0.65);
}
.btn-dark:hover img, .btn:hover img{
    transform: scale(1.5) rotate(18deg);   
}
#my-btn {
    display:none;
    position:fixed;
    bottom: 1.3rem;
    right: 1.8rem;
    z-index:99;
    border: none;
    outline: none;
    background: #FFD05A;
    color: #40596b;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
}
#my-btn img {
    width: 1.6rem;
}

@media only screen and (max-width: 700px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "left"
                         "right";    
    }
    .bot {
        max-width: 300px;
        max-height: 300px;
    }
    .left {
        margin: 0 10rem;;
    }
    button.btn {
        margin: 0;
    }
    .box {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
       
    }
    .about-card  {
        padding: 1rem;
        text-align: center;
        margin: 0 2rem;
    }
     
}
@media only screen and (max-width: 570px) {
    .box {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr;
       
    }
    .cards {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr;
    }
   
}